<!DOCTYPE html>
<html>
<head>
  <title>Rails Rumble: GeoMeetup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= javascript_tag 'var MEETUP_LOGO_PATH = "' + image_path('meetup_logo_small.png') + '";' %>
  <%= yield %>
  <script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
</body>
</html>